<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Wizard Game</title>
    <link href={{url_for('static', filename = 'styles/style.css')}} rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div class="container-header" >
        <h1>WIZARD GAME<h1>
      </div>
      
    </header>

    <div class="Botones">
      <a href="juego/juego.html">
      <button type ="button" class="Boton_1">
        Empezar
      </button><br>
      </a>
      <br>
      <a href="juego/Instrucciones.html">
      <button type="button" class="Boton_2">Instrucciones</button>
      </a>
    </div>
  </body>
</html>
